*
{
    padding:0 ;
    margin: 0;
  
}
body
{
    background-color: #FF3366;
}
.cookies {
    height: 250px;
    width: 250px;
    background-color: #20A4F3;
    border-radius: 15px;
    position: absolute;
    bottom: 0px; /* Start off-screen at the bottom */
    right: 20px;
    opacity: 0; /* Fully transparent */
    transition: bottom 0.5s ease, opacity 0.5s ease; /* Smooth bottom and opacity changes */
}

.cookies.show {
    bottom: 20px; /* Slide up into view */
    opacity: 1; /* Fully visible */
}

.cookies.hide {
    bottom: 0px; /* Slide down out of view */
    opacity: 0; /* Fully transparent */
}

.cookies #img1
{
    height: 60px;
    width: 60px;
    margin-top: 30px;
    margin-left: 30px;
}
.cookies #but1
{
    height: 20px;
    width: 20px;
    background: transparent;
    text-decoration: none;
    border: none;
   position: absolute;
   margin-left: 130px;
   margin-top: 20px;
}
.cookies #img2
{
    height: 20px;
    width: 20px;
}
.cookies p
{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
    color: #002932;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cookies #but2
{
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: #002932;
    color: white;
    font-style: italic;
    font-family: fantasy;
}